@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.rancho-regular {
  font-family: "Rancho", cursive;
  font-weight: 400;
  font-style: normal;
}


.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font: weight 400;;
  font-style: normal;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
--colour-primary: #331A15;
--colour-secondary:#E3B577;
}









